body{
    background-image: url(cover.jpg);

    
    

    
}
div{
    display:inline;
    margin-bottom: ;
    
    
    
    
    
}

input[type=text],input[type=Date],input[type=email],[type=submit]{
      padding: 3px; /*padding permet de modifier la taille de input */ 
      margin:10px; /*margine permet de l'argir .*/
      border-radius: 5px; /*border-radius permet de crée un bordure a l'interieure de mon texte .*/
      border-color: black; /*il met la couleur du bordure qu'on veut .*/

    
    
    
}






