/*Ici, je rédige la feuille de style pour mettre en forme le fichier service.css*/
#div1{
    color: red;
    background-color: thistle;
    border-style:dashed ;
    
    
}

#div2{
    /*Ici, je définis le style pour le div2*/  
    background-color: lightblue;
    border-style: dotted;
    color: cadetblue;
}
#div3{
    /*Ici, je définis le style pour le div3*/
    background-color: lightgreen;
    border-style: solid;
    color: darkmagenta;
    
}
#div4{
    /*Ici, je définis le style pour le div4*/
    background-color: lightyellow;
    border-style: radused;
    color: deepskyblue;
    
}

#dv1{
   border:solid;
    width: 150px;
    height: 100px;
   color:black;
   text-align: center;
   border-radius:45px 30px 45px 45px    
}

#div2{
   border:dotted;
   width: 150px;
   height: 150px;
   text-align: center;
   color:red;
   border-radius:20px 30px 45px 26px
  
   
}

#div3{
  border:double;
  width: 150px;
  height: 150px;
  text-align:center;
  border-radius:45px 35px 25px 15px
}
 #div4{
  border:groove;
  width: 150px;
  height: 150px;
  text-align:center;
  border-radius:15px 25px 35px 45px
 }

#div5{
   border-radius:30% 70% 70% 30% /30% 58% 42% 70%;
   color: rgb(255, 0, 225);
   width: 150px;
   height: 150px;
   background:linear-gradient(to left,mediumvioletred,blueviolet)
  
   
}

#div6{
   border-radius:50px 40px 30px 20px ;
   box-shadow:6px 6px 0px rgba(0, 0, 0);
   border-style: solid;
   text-align: center;
   background-color: lightseagreen;
   width: 150px;
   height: 150px;

  
   
}
    

