h1{
    color: ;
}



h1{
    text-align: center
}
.rsma{
    color: blue;
}  
.rsma{
    color: blue;
} 

.rsma{
    font-style: italic;
}
.rsma{
    font-weight: bold;
}


body{
    texte-family:'Sofia', sans-serif;
}
