h1{
    color: ;
}



h1{
    text-align: center
}
.rsma{
    color: blue;
}  
.rsma{
    color: blue;
} 


}
.rsma{
    font-weight: bold;
}


body{
    texte-family:'Sofia', sans-serif;
}
 h1{
    text-align: center;
 }
 1em{
    font-size: 16px;
 }
 h1{
    color:#A5B4FC;
 }

h1{
    font-style: Montserrat, sans-serif;
}

body{
    font-family: 'Manrope', sans-serif;
}
1em{
    font-size: 1em;
}
